<div class="overflow-auto mb-20 mt-8 pt-12 pl-8">
  <h1 class="mb-8 font-bold">Your Recipes: </h1>
  <div class='grid grid-cols-2'>
    <% @user_recipes.each do |recipe| %>
    <div class="relative">
      <%= link_to recipe_path(recipe), class:"after:absolute after:inset-0" do%>
        <div class="relative card bg-base-100 shadow-xl h-40 w-40 text-center p-4 mb-8">
          <div class="absolute inset-0 blur-sm rounded-md brightness-90" style="background: url(<%= cl_image_path recipe.photo.key %>); background-size: cover;"></div>
          <div class="relative">
            <div class="card-body">
              <h2 class="card-title drop-shadow-md"><%= recipe.name %></h2>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <h1 class="mb-8 font-bold">Bookmarked Recipes: </h1>
  <div class='grid grid-cols-2'>
    <% @bookmarked_recipes.each do |recipe| %>
    <div class="relative">
      <%= link_to recipe_path(recipe), class:"after:absolute after:inset-0" do%>
        <div class="relative card bg-base-100 shadow-xl h-40 w-40 text-center p-4 mb-8">
          <div class="absolute inset-0 blur-sm rounded-md brightness-90" style="background: url(<%= cl_image_path recipe.photo.key %>); background-size: cover;"></div>
          <div class="relative">
            <div class="card-body">
              <h2 class="card-title drop-shadow-md"><%= recipe.name %></h2>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>