<% if message.user != current_user %>
    <div class="chat chat-start">
        <div class="chat-image avatar">
            <div class="w-10 rounded-full">
                <img alt="Tailwind CSS chat bubble component" <%= cl_image_tag message.user.photo.key %> /> 
            </div>
        </div>
        <div class="chat-header">
            @<%= message.user.username %>
            <time class="text-xs opacity-50"><%= message.created_at.strftime('%H:%M') %></time>
        </div>
        <div class="chat-bubble chat-bubble-secondary"><%= message.content %></div>  
    </div> 
<% else %>
    <div class="chat chat-end">
        <div class="chat-image avatar">
            <div class="w-10 rounded-full">
                <img alt="Tailwind CSS chat bubble component" <%= cl_image_tag message.user.photo.key %>/> 
            </div>
        </div>
        <div class="chat-header">
            @<%= message.user.username %>
            <time class="text-xs opacity-50"><%= message.created_at.strftime('%H:%M') %></time>
        </div>
        <div class="chat-bubble chat-bubble-accent"><%= message.content %></div>
    </div>
<% end %>
                  