
<div class="columns-1" >
  <% @recipes.each do |recipe| %>
    <div class="card w-96 bg-base-100 shadow-xl mb-6" >
      <figure class='h-96'><%= cl_image_tag recipe.photo.key %></figure>
      <div class="card-body" >
        <div class='flex justify-between'>
            <h4><%= recipe.likes.count %> Likes</h4>
            <h4>@<%= recipe.user.username %></h4>
        </div>
          <div class="divider divider-primary mt-0 mb-0"></div>
        <h2 class="card-title"><%= recipe.name %></h2>
        <p><%= recipe.description %></p>
        <div class="card-actions justify-between mt-2">
          <% bookmark_id = find_user_bookmark_id(current_user, recipe) %>
          <button data-controller='bookmark'
          data-bookmark-recipe-id-value="<%=recipe.id %>"
          data-bookmark-bookmark-id-value="<%= bookmark_id %>"
          data-bookmark-bookmarked-value="<%= current_user_bookmarks_recipe?(recipe) %>"
          data-action="click->bookmark#toggleBookmark"
          class="btn btn-outline btn-accent w-12 h-12"
          ><i class="fa-regular fa-bookmark fa-lg" style="color: #000000;"></i></button>
          <% like_id = find_user_like_id(current_user, recipe) %>
          <button data-controller="like"
            data-like-recipe-id-value="<%= recipe.id %>"
            data-like-like-id-value="<%= like_id %>"
            data-like-liked-value="<%= current_user_likes_recipe?(recipe) %>"
            data-action="click->like#toggleLike" class="btn btn-outline btn-primary w-12 h-12">
          </button>
        </div>
        <div class="comments-section">
          <div class="columns-1">
            <% recipe.comments.each do |comment| %>
            <div class="card shadow-xl mb-2 p-2 text-center">
              <h6>@<%= comment.user.username %>: <%= comment.text%></h6>
            </div>
            <% end %>
          </div>
        </div>
        <%= form_for([recipe, recipe.comments.build], html: { class: "flex items-center space-x-2" }) do |f| %>
          <div class="flex-grow">
            <%= f.text_field :text, placeholder: "Write your comment here...", class: "input input-bordered input-primary w-full" %>
          </div>
          <%= f.button type: "submit", class: "btn btn-neutral flex items-center" do %>
            <i class="fa-regular fa-paper-plane fa-lg" style="color: #000000;"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
