<div class="container p-12">

  <div class='m-8'>
    <%= link_to home_path, class: "btn btn-lg btn-neutral" do %>
      <i class="fa-solid fa-arrow-left fa-lg" style="color: #000000;"></i>
    <% end %>
  </div>

  <div class="flex justify-center">
    <div class="card lg:card-side bg-base-100 shadow-xl">
      <figure> <%= cl_image_tag @recipe.photo.key, class:'w-80'%></figure>
      <div class="card-body">
        <h2 class="card-title"><%= @recipe.name %></h2>
        <p><%= @recipe.description %></p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary"><i class="fa-solid fa-bookmark" style="color: #000000;"></i></button>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-between-lg">
    <div class="card w-96 bg-base-100 shadow-xl p-8 m-8">
      <h2 class="card-title">Ingredients</h2>
      <ul>
        <% @recipe.ingredients.each do |ingredient| %>
          <li><%= ingredient.name %> - <%= ingredient.quantity %></li>
        <% end %>
      </ul>
    </div>

    <div class="card w-96 bg-base-100 shadow-xl p-8 m-8">
      <h2 class="card-title">How to cook</h2>
      <ol>
        <% @recipe.instructions.each do |instruction| %>
          <li><%= instruction.step_number %>: <%= instruction.description %></li>
        <% end %>
      </ol>
    </div>
  </div>

</div>
