<div class="container p-12">

  <div class="mb-4">
    <%= link_to home_path, class: "btn btn-lg btn-neutral", id: "back-to-home" do %>
      <i class="fa-solid fa-arrow-left fa-lg" style="color: #000000;"></i>
    <% end %>
  </div>

  <div class="flex justify-center">
    <div class="card lg:card-side bg-base-100 shadow-xl">
      <figure> <%= cl_image_tag @recipe.photo.key, class:'w-80'%></figure>
      <div class="card-body">
        <h2 class="card-title"><%= @recipe.name %></h2>
        <p><%= @recipe.description %></p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary"><i class="fa-solid fa-bookmark" style="color: #000000;"></i></button>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-center mt-4">
    <div class="card bg-base-100 shadow-xl w-80 text-center p-4">
      <h2 class="card-title mb-4">Ingredients</h2>
      <ul>
        <% @recipe.ingredients.each do |ingredient| %>
          <li><%= ingredient.name %> - <%= ingredient.quantity %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="flex justify-center mt-4">
    <div class="card bg-base-100 shadow-xl w-80 text-center p-4">
      <h2 class="card-title mb-4">How to cook</h2>
      <ol>
        <% @recipe.instructions.each do |instruction| %>
          <li><%= instruction.step_number %>: <%= instruction.description %></li>
        <% end %>
      </ol>
    </div>
  </div>

  <div class="flex justify-center mt-4">
    <div class="card bg-base-100 shadow-xl w-80 text-center p-4">
      <h2 class="card-title mb-4">Comments</h2>

        <% @recipe.comments.each do |comment| %>
          <div class="card shadow-xl mb-2 p-2 text-center">
            <h6>@<%= comment.user.username %>: <%= comment.text%></h6>
          </div>
        <% end %>

        <%= form_for([@recipe, @recipe.comments.build], html: { class: "flex items-center space-x-2 mt-4" }) do |f| %>
          <div class="flex-grow">
            <%= f.text_field :text, placeholder: "Write your comment here...", class: "input input-bordered input-primary w-full" %>
          </div>
          <%= f.button type: "submit", class: "btn btn-neutral flex items-center" do %>
            <i class="fa-regular fa-paper-plane fa-lg" style="color: #000000;"></i>
          <% end %>
        <% end %>

    </div>
  </div>
</div>
