<div class="container p-12">

    <div class="flex justify-between">
        
        <div class="mb-4">
            <%= link_to home_path, class: "btn btn-lg btn-neutral", id: "back-to-home" do %>
                <i class="fa-solid fa-arrow-left fa-lg" style="color: #000000;"></i>
            <% end %>
        </div>

        <div class="mb-4">
            <%= link_to new_chatroom_path, class: "btn btn-lg btn-primary", id: "create-chatroom" do %>
                <i class="fa-solid fa-plus fa-lg" style="color: #000000;"></i>
            <% end %>
        </div>
        
    </div>

    <ol class="w-100 mt-8">
        <% @chatrooms.each do |chatroom| %>
            <%= link_to chatroom_path(chatroom), data: { turbo_method: "get" } do %>
                <li class="card bg-secondary text-primary-content p-4 mt-4">
                    <div class="flex justify-between">
                        <h4 class="font-bold mr-12"> @<%= chatroom.users.last.username %></h4>
                        <figure> <img src="<%= cl_image_path(chatroom.users.last.photo.key) %>" class="rounded-full h-16 w-16" /> </figure>
                    </div>
                </li>
            <% end %>
        <% end %>
    </ol>

</div>