<div class="navbar bg-neutral text-neutral-content w-100 mx-auto shadow-xl justify-between top-0 fixed z-50" data-controller="search-bar">
  <div class="flex flex-grow">
    <% if user_signed_in? %>
      <div class="flex-none gap-2">
        <div class="form-control">
          <input type="text" placeholder="Search" class="input input-bordered w-32 shadow-xl mr-4" 
                  data-search-bar-target="input"
                  data-action="click->search-bar#toggleSearch"/>
        </div>
      </div>
    <% end %>
  </div>
  <div class="flex">
    <% if user_signed_in? %>
      <div class="flex gap-2 justify-center">

        <i class="fa-solid fa-envelope fa-xl mt-6 mr-4" style="color: #ffffff;"></i>

        <div class="dropdown dropdown-end">
          <div tabindex="1" role="button">
            <i class="fa-solid fa-bell fa-xl mt-6 mr-2" style="color: <%= current_user.notifications ? '#9CCBBA' : '#ffffff' %>;"></i> 
          </div>
          <ul tabindex="1" class="mt-7 z-[1] shadow-xl menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
            <%= render 'notifications/index', notifications: @notifications %>
          </ul>
        </div>

        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
            <div class="w-10 rounded-full">
              <img alt="Tailwind CSS Navbar component shadow-xl" <%= cl_image_tag current_user.photo.key %> />
            </div>
          </div>
          <ul tabindex="0" class="mt-3 z-[1] shadow-xl menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
            <li><%= link_to 'Profile', profile_path(current_user.username), user: current_user %></li> 
            <li><%= link_to 'Logout', destroy_user_session_path, data: { "turbo-method": :delete } %></li>
          </ul>
        </div>

      </div>
    <% else %>
      <button class="btn btn-ghost text-xl">
        <%= link_to root_path do %>
          <img class="logo w-10 h-10" alt="Logo" src="<%= image_path('yolk.png') %>"/>
        <% end %>
      </button>
      <div>
        <button class="btn btn-primary mr-2"><%= link_to 'Login', new_user_session_path %></button>
        <button class="btn btn-secondary"><%= link_to 'Sign up', new_user_registration_path %></button>
      </div>
    <% end %>
  </div>
</div>