
<%# Navbar %>

<%= render "shared/navbar" %>

<%# Hero %>

<div class="hero min-h-96 w-5/6 mx-auto mt-6 rounded-lg" style="background-image: url(https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg);">
  <div class="hero-overlay bg-opacity-60 rounded-lg shadow-xl"></div>
  <div class="hero-content text-center text-neutral-content mt-16">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Welcome to feast</h1>
      <p class="mb-5">Feast is a streamlined app for sharing and discovering recipes. Users can upload their recipes, browse a wide variety, and save favorites. Its simple interface encourages community interaction through ratings and tips. Ideal for culinary enthusiasts, Feast transforms cooking into a shared experience.</p>
      <%= link_to "Get Started", home_path, class:"btn btn-primary shadow" %>
    </div>
  </div>
</div>

<%# Explination Section #1 %>

<div class="hero min-h-96 mt-6">
  <div class="hero-content flex-col lg:flex-row">
    <img src="https://www.bhg.com/thmb/qCD2muXu94oB1PSsCBbd8yrfSss=/1939x0/filters:no_upscale():strip_icc()/RU160960-8c729538de5f4462b8a7d36265ef2a19.jpg" class="max-w-sm rounded-lg shadow-2xl mr-6" />
    <div>
      <h1 class="text-5xl font-bold">Share and get inspired</h1>
      <p class="py-6">Feast's sharing features bring a social dimension to cooking, enabling users to upload their own recipes and share them with a global audience. With the ability to post detailed recipes, including ingredients, steps, and photos or videos, users can easily showcase their culinary skills. The app encourages interaction, allowing others to comment on, rate, and share their favorite dishes on social media platforms. This not only helps spread culinary inspiration but also allows for the exchange of cooking tips and tricks, fostering a supportive environment for chefs and food enthusiasts alike.</p>
      <%= link_to "Get Started", home_path, class:"btn btn-primary shadow" %>
    </div>
  </div>
</div>

<%# Explination Section #2 %>

<div class="hero min-h-96 mt-6">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img src="https://www.bhg.com/thmb/nOFU28V7pfKlZwE9L8gCYSPYJR4=/1244x0/filters:no_upscale():strip_icc()/chicken-red-pepper-rollups-RU217557-1fe22a234f144285bd2718a1a41acde2.jpg" class="max-w-sm rounded-lg shadow-2xl" />
    <div>
      <h1 class="text-5xl font-bold">Your own recipe book</h1>
      <p class="py-6">The recipe book aspect of Feast is a digital culinary organizer that revolutionizes the way users collect and access their favorite recipes. It allows for the creation of personalized cookbooks where users can save and categorize recipes they love or plan to try. With its user-friendly interface, the app makes it simple to revisit cherished recipes and discover new favorites. Whether planning a weeknight dinner or a special occasion meal, the recipe book feature ensures that all your culinary resources are just a tap away, making meal planning and execution a breeze.</p>
      <%= link_to "Get Started", home_path, class:"btn btn-primary shadow" %>
    </div>
  </div>
</div>

<%# Explination Section #3 %>

<div class="hero min-h-96 mt-6">
  <div class="hero-content flex-col lg:flex-row">
    <img src="https://www.foodandwine.com/thmb/TDK2MFuyi2mb4jH66Waf9i1XsNs=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/seared-scallops-with-pomegranate-and-meyer-lemon-FT-RECIPE0321-7189303d38de41449c6b501c8663541c.jpg" class="max-w-sm rounded-lg shadow-2xl mr-6" />
    <div>
      <h1 class="text-5xl font-bold">A global community</h1>
      <p class="py-6">Feast's communities are the heart of the app, creating a vibrant space for food lovers to connect over shared culinary interests. Users can join various groups based on cuisine types, dietary preferences, or cooking techniques. Within these communities, members can exchange recipes, offer advice, and support each other's cooking endeavors. Regular challenges and themed events keep the community engaged, encouraging users to experiment with new dishes and techniques. These communities not only enhance the cooking experience but also help users from around the world to learn from each other, building a global network of food enthusiasts.</p>
      <%= link_to "Get Started", home_path, class:"btn btn-primary shadow" %>
    </div>
  </div>
</div>

<%# Footer %>

<%= render "shared/footer" %>
