<div class="container p-12">
    
    <div class="flex justify-between">

        <div class="mb-4">
        <%= link_to home_path, class: "btn btn-lg btn-neutral", id: "back-to-home" do %>
            <i class="fa-solid fa-arrow-left fa-lg" style="color: #000000;"></i>
        <% end %>
        </div>

        <div class="avatar w-24 h-24 mb-4">
            <figure> <%= cl_image_tag @user.photo.key, class:'rounded-full'%></figure>
        </div>
    
    </div>
    
    <div id='name-follow-posts-followers'>
        <h2 class="card-title justify-end mb-4">@<%= @user.username %></h2>
        <div id="follow_container" data-controller="follow">
            <div class="flex justify-end mb-4">
                <% if current_user == @user %>
                    <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %>
                <% end %> 
                <form action="<%= toggle_follow_user_path(@user) %>" method="post" data-action="follow#toggle" data-follow-target="button" 
                    class="<%= current_user == @user ? 'hidden' : '' %> "> 
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                    <button type="submit" class="btn btn-primary <%= current_user.following?(@user) ? 'btn-outline' : '' %>">
                    <%= current_user.following?(@user) ? 'Following' : 'Follow' %>
                    </button>
                </form>
            </div>
            <div class="flex justify-between font-bold">
                <h4><%= @user.recipes.count %> recipes</h4>
                <h4><span data-follow-target="count"><%= @user.followers.count %></span> Followers</h4>
                <h4><%= @user.following.count %> Following</h4> 
            </div>
        </div>
    </div>

    <div id='recipes'>
         <h1 class="text-2xl font-bold mb-8 mt-8"> Recipes:</h1>
            <div class='grid grid-cols-2'>
                <% @user.recipes.each do |recipe| %>
                <div class="relative">
                <%= link_to recipe_path(recipe), class:"after:absolute after:inset-0" do%>
                    <div class="relative card bg-base-100 shadow-xl h-40 w-40 text-center p-4 mb-8">
                    <div class="absolute inset-0 blur-sm rounded-md brightness-90" style="background: url(<%= cl_image_path recipe.photo.key %>); background-size: cover;"></div>
                    <div class="relative">
                        <div class="card-body">
                        <h2 class="card-title drop-shadow-md"><%= recipe.name %></h2>
                        </div>
                    </div>
                    </div>
                <% end %>
                </div>
                <% end %>
            </div>
    </div>

    <div class='flex justify-center'>
        
    </div>
    
   
</div>